// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$color-primary: #FFFFFF;
$color-secondary: #FFFFFF;
$color-font: #FFFFFF;

$font-family: 'Roboto, Arial, sans-serif';